.list-group-item:last-child {
    margin-bottom: 6px;
}

p {
    font-weight: 600;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #54a3f7;
}

.list-group-item.clearfix {
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}