<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewPatient()"><i class="fas fa-plus-circle"></i>  Add Patient</button>
        <!-- search doktora -->
        <input class="form-control" [(ngModel)]='term' type="text" id="filter" placeholder="Search by surname...">

    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-patient-details *ngFor="let patient of patients | filter:term; let i = index" [patients]="patient" [index]="patient.uid"></app-patient-details>
    </div>
</div>