.btn.btn-success {
    background-color: #019875 !important;
    /* box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); */
}

input.form-control {
    margin-top: 3px;
    box-shadow: 0 1px 4px rgba(57, 73, 76, 0.35);
}

.btn.btn-success:hover {
    background-color: #28624a !important;
}

.my-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 91px;
}